*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Whitney', sans-serif;
}

/* HEADER BAR */

header {
    height: 80px;
    background-color: #ff6900;
    box-shadow: 3px 3px 5px 2px #777777;
}

.container-header {
    width: 75%;
    height: 100%;
    margin: 0 auto;
}

.row-header {
    width: 100%;
    height: 100%;
    display: flex;
}

.header-column{
    width: calc(100% / 3 );
    display: flex;
    align-items: center;
}

.mid {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}

span {
    padding-right: 10px;
    color: white;
    font-weight: bold;
}

.boolean-logo {
    width: 130px;
    height: 30px;
}


.fa-heart {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.fa-bag-shopping {
    margin-left: 10px;
    color: white;
    cursor: pointer;
}

.fa-user {
    color: white;
    cursor: pointer;
}

